[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2 = "*"
pillow = "*"
djangorestframework = "*"
django-filter = "*"
selenium = "*"
django-webpack-loader = "*"

[requires]
python_version = "3.8"
