[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2 = "*"
pillow = "*"
djangorestframework = "*"
django-filter = "*"
selenium = "*"
django-webpack-loader = "*"
ipython = "*"
pydotplus = "*"
werkzeug = "*"
django-extensions = "*"
factory-boy = "*"
django-debug-toolbar = "*"
django-tables2 = "*"
django-widget-tweaks = "*"
weasyprint = "*"
channels = "*"
channels-redis = "*"
aioredis = "*"
aiohttp = "*"
whitenoise = "*"
django-environ = "*"
boto3 = "*"
django-storages = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
